	<h1><a href="<%- config.root %>"><%= config.title %></a></h1>
	<h2><% if (config.subtitle){ %><%= config.subtitle %><% } %></h2>
<nav id="header-nav" class="clearfix">
	<ul>
		<% for (var i in theme.menu){ %>
			<li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
		<% } %>
	</ul>
</nav>
<nav id="ext-nav" class="clearfix">
	<ul>
		<% for (var i in theme.ext_link){ %>
			<li><a href="<%- theme.ext_link[i] %>"><%= i %></a></li>
		<% } %>
	</ul>
</nav>