<h1><a href="<%- config.root %>"><%= config.title %></a></h1>
<h2><% if (config.subtitle){ %><%= config.subtitle %><% } %></h2>

<div class="search">
  <form action="//google.com/search" method="get" accept-charset="utf-8">
    <input class ="search-box" type="search" name="q" placeholder="<%= __('search') %>">
    <input type="hidden" name="q" value="site:<%- config.url.replace(/^https?:\/\//, '') %>">
  </form>
</div>

<nav id="header-nav" class="clearfix">
	<ul>
		<% for (var i in theme.menu){ %>
			<li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
		<% } %>
	</ul>
</nav>
<nav id="ext-nav" class="clearfix">
	<ul>
		<% if (theme.ext_link.twitter){ %>
			<li><a class="ext_link" href="https://twitter.com/<%= theme.ext_link.twitter %>" title="Folow Me @Twitter"><i class="ext_link-twitter"></i></a></li>
		<% } %>
		<% if (theme.ext_link.github){ %>
			<li><a class="ext_link" href="https://github.com/<%= theme.ext_link.github %>" title="Folow Me @Github"><i class="ext_link-github"></i></a></li>
		<% } %>
		<% if (theme.ext_link.rss){ %>
			<li><a class="ext_link" href="<%= theme.ext_link.rss %>" title="Subscribe"><i class="ext_link-rss"></i></a></li>
		<% } %>
	</ul>
</nav>